### l'historique de facturation des clients de la société tunisienne d'électricité et de gaz de  2005 à 2019.

In [44]:
# Chargez l'ensemble de données,
import pandas as pd
import numpy as np

In [45]:
df = pd.read_csv('STEG_BILLING_HISTORY.csv')

C:\Users\user\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
#affichez les dix premières lignes, 
df.head(10)

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11,1335667.0,0,203,8.0,1,82,0,0,0,14302,14384,4,ELEC
1,train_Client_0,2013-03-29,11,1335667.0,0,203,6.0,1,1200,184,0,0,12294,13678,4,ELEC
2,train_Client_0,2015-03-23,11,1335667.0,0,203,8.0,1,123,0,0,0,14624,14747,4,ELEC
3,train_Client_0,2015-07-13,11,1335667.0,0,207,8.0,1,102,0,0,0,14747,14849,4,ELEC
4,train_Client_0,2016-11-17,11,1335667.0,0,207,9.0,1,572,0,0,0,15066,15638,12,ELEC
5,train_Client_0,2017-07-17,11,1335667.0,0,207,9.0,1,314,0,0,0,15638,15952,8,ELEC
6,train_Client_0,2018-12-07,11,1335667.0,0,207,9.0,1,541,0,0,0,15952,16493,12,ELEC
7,train_Client_0,2019-03-19,11,1335667.0,0,207,9.0,1,585,0,0,0,16493,17078,8,ELEC
8,train_Client_0,2011-07-22,11,1335667.0,0,203,9.0,1,1200,186,0,0,7770,9156,4,ELEC
9,train_Client_0,2011-11-22,11,1335667.0,0,203,6.0,1,1082,0,0,0,9156,10238,4,ELEC

In [3]:
#stockez les résultats dans une variable appelée 'client_0_bills'.
# client_0_bills = pd.DataFrame(df)
client_0_bills = df
# Quel est le type de données de la variable 'client_0_bills' ?
client_0_bills.dtypes

client_id                object
invoice_date             object
tarif_type                int64
counter_number          float64
counter_statue           object
counter_code              int64
reading_remarque        float64
counter_coefficient       int64
consommation_level_1      int64
consommation_level_2      int64
consommation_level_3      int64
consommation_level_4      int64
old_index                 int64
new_index                 int64
months_number             int64
counter_type             object
dtype: object

In [4]:
#Affichez les informations générales du jeu de données et essayez de répondre aux questions suivantes :
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4476749 entries, 0 to 4476748
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   client_id             object
 1   invoice_date          object
 2   tarif_type            int64
 3   counter_number        float64
 4   counter_statue        object
 5   counter_code          int64
 6   reading_remarque      float64
 7   counter_coefficient   int64
 8   consommation_level_1  int64
 9   consommation_level_2  int64
 10  consommation_level_3  int64
 11  consommation_level_4  int64
 12  old_index             int64
 13  new_index             int64
 14  months_number         int64
 15  counter_type          object
dtypes: float64(2), int64(10), object(4)
memory usage: 546.5+ MB

In [5]:
df.columns # nombres de colonnes

Index(['client_id', 'invoice_date', 'tarif_type', 'counter_number',
       'counter_statue', 'counter_code', 'reading_remarque',
       'counter_coefficient', 'consommation_level_1', 'consommation_level_2',
       'consommation_level_3', 'consommation_level_4', 'old_index',
       'new_index', 'months_number', 'counter_type'],
      dtype='object')

In [6]:
len(df) # nombres de lignes

4476749

In [7]:
#Combien de lignes et de colonnes avons-nous dans cet ensemble de données ?
lignes,colonnes = df.shape
print(lignes)
print(colonnes)

4476749
16

In [8]:
#Combien de caractéristiques catégorielles sont présentes dans l’ensemble de données ?
categorielles = len(df.select_dtypes(include=['object']).columns)
colonnes_catégorielles = df.select_dtypes(include=['object'])

print(f"catégorielles : {categorielles}")
print("Caractéristiques catégorielles :")
print(colonnes_catégorielles.columns.tolist())

catégorielles : 4
Caractéristiques catégorielles :
['client_id', 'invoice_date', 'counter_statue', 'counter_type']

In [9]:
#Combien d’espace mémoire l’ensemble de données consomme-t-il ?
df.memory_usage()

Index                        128
client_id               35813992
invoice_date            35813992
tarif_type              35813992
counter_number          35813992
counter_statue          35813992
counter_code            35813992
reading_remarque        35813992
counter_coefficient     35813992
consommation_level_1    35813992
consommation_level_2    35813992
consommation_level_3    35813992
consommation_level_4    35813992
old_index               35813992
new_index               35813992
months_number           35813992
counter_type            35813992
dtype: int64

In [12]:
# Inspectez l’ensemble de données pour détecter d’éventuelles valeurs manquantes.
df.isnull()

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4476744,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4476745,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4476746,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4476747,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4476748,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [43]:
print(df.isnull() .sum ())

client_id               0
invoice_date            0
tarif_type              0
counter_number          0
counter_code            0
reading_remarque        0
counter_coefficient     0
consommation_level_1    0
consommation_level_2    0
consommation_level_3    0
consommation_level_4    0
old_index               0
new_index               0
months_number           0
counter_type            0
counter_type_encoded    0
dtype: int64

In [16]:
# Sélectionnez votre stratégie pour gérer les valeurs manquantes et dites-nous pourquoi vous avez fait ce choix.
#df.fillna(0, inplace=True)
#df
# Nous avons choisi la median comme pour resoudre notre probleme parce que c'est un moyen très courant de remplacer les valeurs
# manquantes consiste à utiliser la médiane.

median = df.median()
df.fillna(median, inplace=True)
df

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11,1335667.0,0,203,8.0,1,82,0,0,0,14302,14384,4,ELEC
1,train_Client_0,2013-03-29,11,1335667.0,0,203,6.0,1,1200,184,0,0,12294,13678,4,ELEC
2,train_Client_0,2015-03-23,11,1335667.0,0,203,8.0,1,123,0,0,0,14624,14747,4,ELEC
3,train_Client_0,2015-07-13,11,1335667.0,0,207,8.0,1,102,0,0,0,14747,14849,4,ELEC
4,train_Client_0,2016-11-17,11,1335667.0,0,207,9.0,1,572,0,0,0,15066,15638,12,ELEC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4476744,train_Client_99998,2005-08-19,10,1253571.0,0,202,9.0,1,400,135,0,0,3197,3732,8,ELEC
4476745,train_Client_99998,2005-12-19,10,1253571.0,0,202,6.0,1,200,6,0,0,3732,3938,4,ELEC
4476746,train_Client_99999,1996-09-25,11,560948.0,0,203,6.0,1,259,0,0,0,13884,14143,4,ELEC
4476747,train_Client_99999,1996-05-28,11,560948.0,0,203,6.0,1,603,0,0,0,13281,13884,4,ELEC
4476748,train_Client_99999,1996-01-25,11,560948.0,0,203,6.0,1,516,0,0,0,12765,13281,4,ELEC

In [19]:
# Exécutez une analyse descriptive sur les caractéristiques numériques (colonnes).
print(df.describe())

         tarif_type  counter_number  counter_code  reading_remarque  \
count  4.476749e+06    4.476749e+06  4.476749e+06      4.476749e+06
mean   2.012804e+01    1.230582e+11  1.724884e+02      7.314303e+00
std    1.347256e+01    1.657267e+12  1.338871e+02      1.588220e+00
min    8.000000e+00    0.000000e+00  0.000000e+00      0.000000e+00
25%    1.100000e+01    1.211020e+05  5.000000e+00      6.000000e+00
50%    1.100000e+01    4.945580e+05  2.030000e+02      8.000000e+00
75%    4.000000e+01    1.115161e+06  2.070000e+02      9.000000e+00
max    4.500000e+01    2.798115e+13  6.000000e+02      4.130000e+02

       counter_coefficient  consommation_level_1  consommation_level_2  \
count         4.476749e+06          4.476749e+06          4.476749e+06
mean          1.003040e+00          4.109795e+02          1.093225e+02
std           3.083466e-01          7.573080e+02          1.220123e+03
min           0.000000e+00          0.000000e+00          0.000000e+00
25%           1.000000e+00          7.900000e+01          0.000000e+00
50%           1.000000e+00          2.740000e+02          0.000000e+00
75%           1.000000e+00          6.000000e+02          0.000000e+00
max           5.000000e+01          9.999100e+05          9.990730e+05

       consommation_level_3  consommation_level_4     old_index     new_index  \
count          4.476749e+06          4.476749e+06  4.476749e+06  4.476749e+06
mean           2.030620e+01          5.292588e+01  1.776700e+04  1.834970e+04
std            1.574239e+02          8.754725e+02  4.036693e+04  4.095321e+04
min            0.000000e+00          0.000000e+00  0.000000e+00  0.000000e+00
25%            0.000000e+00          0.000000e+00  1.791000e+03  2.056000e+03
50%            0.000000e+00          0.000000e+00  7.690000e+03  8.192000e+03
75%            0.000000e+00          0.000000e+00  2.166000e+04  2.234300e+04
max            6.449200e+04          5.479460e+05  2.800280e+06  2.870972e+06

       months_number
count   4.476749e+06
mean    4.483095e+01
std     3.128335e+03
min     0.000000e+00
25%     4.000000e+00
50%     4.000000e+00
75%     4.000000e+00
max     6.366240e+05

In [20]:
#Sélectionnez les enregistrements de factures du client avec un identifiant ='train_Client_0', en utilisant 2 méthodes.

In [37]:
# Remplacez les NaN par "Unknown"
df['counter_type'].fillna("Unknown", inplace=True)
print(df)

                  client_id invoice_date  tarif_type  counter_number  \
0            train_Client_0   2014-03-24          11       1335667.0
1            train_Client_0   2013-03-29          11       1335667.0
2            train_Client_0   2015-03-23          11       1335667.0
3            train_Client_0   2015-07-13          11       1335667.0
4            train_Client_0   2016-11-17          11       1335667.0
...                     ...          ...         ...             ...
4476744  train_Client_99998   2005-08-19          10       1253571.0
4476745  train_Client_99998   2005-12-19          10       1253571.0
4476746  train_Client_99999   1996-09-25          11        560948.0
4476747  train_Client_99999   1996-05-28          11        560948.0
4476748  train_Client_99999   1996-01-25          11        560948.0

        counter_statue  counter_code  reading_remarque  counter_coefficient  \
0                    0           203               8.0                    1
1                    0           203               6.0                    1
2                    0           203               8.0                    1
3                    0           207               8.0                    1
4                    0           207               9.0                    1
...                ...           ...               ...                  ...
4476744              0           202               9.0                    1
4476745              0           202               6.0                    1
4476746              0           203               6.0                    1
4476747              0           203               6.0                    1
4476748              0           203               6.0                    1

         consommation_level_1  consommation_level_2  consommation_level_3  \
0                          82                     0                     0
1                        1200                   184                     0
2                         123                     0                     0
3                         102                     0                     0
4                         572                     0                     0
...                       ...                   ...                   ...
4476744                   400                   135                     0
4476745                   200                     6                     0
4476746                   259                     0                     0
4476747                   603                     0                     0
4476748                   516                     0                     0

         consommation_level_4  old_index  new_index  months_number  \
0                           0      14302      14384              4
1                           0      12294      13678              4
2                           0      14624      14747              4
3                           0      14747      14849              4
4                           0      15066      15638             12
...                       ...        ...        ...            ...
4476744                     0       3197       3732              8
4476745                     0       3732       3938              4
4476746                     0      13884      14143              4
4476747                     0      13281      13884              4
4476748                     0      12765      13281              4

         counter_type  counter_type_encoded
0                   0                     0
1                   0                     0
2                   0                     0
3                   0                     0
4                   0                     0
...               ...                   ...
4476744             0                     0
4476745             0                     0
4476746             0                     0
4476747             0                     0
4476748             0                     0

[4476749 rows x 17 columns]

In [39]:
# Transformez la fonctionnalité 'counter_type' en variable numérique à l'aide de l'encodeur de votre choix.
from sklearn.preprocessing import LabelEncoder

# Créez une instance de LabelEncoder
encoder = LabelEncoder()

# Appliquez l'encodage à la colonne 'counter_type'
df['counter_type'] = encoder.fit_transform(df['counter_type'])

# Affichez le dataframe pour vérifier les résultats
print(df)

                  client_id invoice_date  tarif_type  counter_number  \
0            train_Client_0   2014-03-24          11       1335667.0
1            train_Client_0   2013-03-29          11       1335667.0
2            train_Client_0   2015-03-23          11       1335667.0
3            train_Client_0   2015-07-13          11       1335667.0
4            train_Client_0   2016-11-17          11       1335667.0
...                     ...          ...         ...             ...
4476744  train_Client_99998   2005-08-19          10       1253571.0
4476745  train_Client_99998   2005-12-19          10       1253571.0
4476746  train_Client_99999   1996-09-25          11        560948.0
4476747  train_Client_99999   1996-05-28          11        560948.0
4476748  train_Client_99999   1996-01-25          11        560948.0

        counter_statue  counter_code  reading_remarque  counter_coefficient  \
0                    0           203               8.0                    1
1                    0           203               6.0                    1
2                    0           203               8.0                    1
3                    0           207               8.0                    1
4                    0           207               9.0                    1
...                ...           ...               ...                  ...
4476744              0           202               9.0                    1
4476745              0           202               6.0                    1
4476746              0           203               6.0                    1
4476747              0           203               6.0                    1
4476748              0           203               6.0                    1

         consommation_level_1  consommation_level_2  consommation_level_3  \
0                          82                     0                     0
1                        1200                   184                     0
2                         123                     0                     0
3                         102                     0                     0
4                         572                     0                     0
...                       ...                   ...                   ...
4476744                   400                   135                     0
4476745                   200                     6                     0
4476746                   259                     0                     0
4476747                   603                     0                     0
4476748                   516                     0                     0

         consommation_level_4  old_index  new_index  months_number  \
0                           0      14302      14384              4
1                           0      12294      13678              4
2                           0      14624      14747              4
3                           0      14747      14849              4
4                           0      15066      15638             12
...                       ...        ...        ...            ...
4476744                     0       3197       3732              8
4476745                     0       3732       3938              4
4476746                     0      13884      14143              4
4476747                     0      13281      13884              4
4476748                     0      12765      13281              4

         counter_type  counter_type_encoded
0                   0                     0
1                   0                     0
2                   0                     0
3                   0                     0
4                   0                     0
...               ...                   ...
4476744             0                     0
4476745             0                     0
4476746             0                     0
4476747             0                     0
4476748             0                     0

[4476749 rows x 17 columns]

In [41]:
# Supprimez la fonctionnalité 'counter_statue' du Dataframe
df.drop('counter_statue', axis=1, inplace=True)

# Affichez le DataFrame après la suppression
print(df)

                  client_id invoice_date  tarif_type  counter_number  \
0            train_Client_0   2014-03-24          11       1335667.0
1            train_Client_0   2013-03-29          11       1335667.0
2            train_Client_0   2015-03-23          11       1335667.0
3            train_Client_0   2015-07-13          11       1335667.0
4            train_Client_0   2016-11-17          11       1335667.0
...                     ...          ...         ...             ...
4476744  train_Client_99998   2005-08-19          10       1253571.0
4476745  train_Client_99998   2005-12-19          10       1253571.0
4476746  train_Client_99999   1996-09-25          11        560948.0
4476747  train_Client_99999   1996-05-28          11        560948.0
4476748  train_Client_99999   1996-01-25          11        560948.0

         counter_code  reading_remarque  counter_coefficient  \
0                 203               8.0                    1
1                 203               6.0                    1
2                 203               8.0                    1
3                 207               8.0                    1
4                 207               9.0                    1
...               ...               ...                  ...
4476744           202               9.0                    1
4476745           202               6.0                    1
4476746           203               6.0                    1
4476747           203               6.0                    1
4476748           203               6.0                    1

         consommation_level_1  consommation_level_2  consommation_level_3  \
0                          82                     0                     0
1                        1200                   184                     0
2                         123                     0                     0
3                         102                     0                     0
4                         572                     0                     0
...                       ...                   ...                   ...
4476744                   400                   135                     0
4476745                   200                     6                     0
4476746                   259                     0                     0
4476747                   603                     0                     0
4476748                   516                     0                     0

         consommation_level_4  old_index  new_index  months_number  \
0                           0      14302      14384              4
1                           0      12294      13678              4
2                           0      14624      14747              4
3                           0      14747      14849              4
4                           0      15066      15638             12
...                       ...        ...        ...            ...
4476744                     0       3197       3732              8
4476745                     0       3732       3938              4
4476746                     0      13884      14143              4
4476747                     0      13281      13884              4
4476748                     0      12765      13281              4

         counter_type  counter_type_encoded
0                   0                     0
1                   0                     0
2                   0                     0
3                   0                     0
4                   0                     0
...               ...                   ...
4476744             0                     0
4476745             0                     0
4476746             0                     0
4476747             0                     0
4476748             0                     0

[4476749 rows x 16 columns]